<div class="list-container">
  <h2>ToDo</h2>
  <ul>
    <li *ngFor="let item of incompleteTodos" class="todo-item">
      <label class="checkbox-container" [ngClass]="item.priority.toLowerCase()">
        <input type="checkbox" (change)="toggleCompletion(item.id)" />
        <span class="custom-checkbox"></span>
      </label>

      <div class="todo-details">
        <span class="todo-title">{{ item.title }}</span>
        <span class="todo-desc">{{ item.description }}</span>
        <span class="todo-date">{{ item.createdAt | date: 'mediumDate' }}</span>
      </div>

      <span class="todo-priority" [ngClass]="item.priority.toLowerCase()">{{ item.priority }}</span>
    </li>
  </ul>

  <h2>Completed</h2>
  <ul>
    <li *ngFor="let item of completedTodos" class="todo-item completed">
      <label class="checkbox-container" [ngClass]="item.priority.toLowerCase()">
        <input type="checkbox" checked (change)="toggleCompletion(item.id)" />
        <span class="custom-checkbox"></span>
      </label>

      <div class="todo-details completed">
        <span class="todo-title">{{ item.title }}</span>
        <span class="todo-desc">{{ item.description }}</span>
        <span class="todo-date">{{ item.createdAt | date: 'mediumDate' }}</span>
      </div>

      <span class="todo-priority" [ngClass]="item.priority.toLowerCase()">{{ item.priority }}</span>
    </li>
  </ul>
</div>
