<div class="list-container">
  <h2>Incomplete Tasks</h2>
  <ul>
    <li *ngFor="let item of incompleteTodos" class="todo-item">
      <label class="checkbox-container">
        <input type="checkbox" (change)="toggleCompletion(item.id)" />
      </label>
      <div class="todo-details">
        <span class="todo-title">{{ item.title }}</span>
        <span class="todo-desc">{{ item.description }}</span>
        <span class="todo-priority {{ item.priority }}">{{ item.priority }}</span>
      </div>
    </li>
  </ul>

  <h2>Completed Tasks</h2>
  <ul>
    <li *ngFor="let item of completedTodos" class="todo-item completed">
      <label class="checkbox-container">
        <input type="checkbox" checked (change)="toggleCompletion(item.id)" />
      </label>
      <div class="todo-details">
        <span class="todo-title">{{ item.title }}</span>
        <span class="todo-desc">{{ item.description }}</span>
        <span class="todo-priority {{ item.priority }}">{{ item.priority }}</span>
      </div>
    </li>
  </ul>
</div>
