<nav>
  <ul class="navbar">
    <li class="nav-left">
      <a routerLink="/home" style="background-color: black;" class="nav-button home-button"></a>
    </li>
    <li class="nav-right">
      <button *ngIf="isLoginPage" class="nav-button-right" (click)="navigate('/signup')">Sign Up</button>

      <button *ngIf="isSignupPage" class="nav-button-right" (click)="navigate('/login')">Login</button>

      <button *ngIf="isLoggedIn && !isLoginPage && !isSignupPage"
              class="nav-button-right"
              style="background-color: red;"
              (click)="logout()">Logout
            </button>
    </li>
  </ul>
</nav>
