@mixin input-style {
  padding: 10px 12px;
  border: 1.5px solid $form-border;
  border-radius: 6px;
  font-size: 1rem;
  background: #fff;
  transition: border 0.2s;
  margin-bottom: 4px;

  &:focus {
    border-color: $form-accent;
    outline: none;
  }
}